﻿/**
 * This are local rules to extend or override the global rules from daftari.css
 *
 * id : file 20161010°0311 daftari/docs/styleslocal.css
 * encoding : UTF-8-with-BOM
 * license : The MIT/X11 License
 * copyright : © 2016 - 2023 Norbert C. Maier
 * authors : ncm
 * note : Possibly use css command '@import "./../css/daftari.css";'
 * note :
 */

td.topnaviCheckboxPin { text-align:right; }            /* rule 20150220°1511 */

body.PageFaceHelp { background-color:#b0f8f0; }        /* BodyTurquoiseSoft */ /* rule 20170902o0132 */
body.BodyFaceHelpfiles { background-color:#b0f8f0; }   /* #b0f8f0; BodyTurquoiseSoft (rule 20160617°0221) */
body.BodyFaceMoonwalk { background-color:#ffd4f4; }    /* rule 20170902°0133 */
body.BodyFaceMoonshadow { background-color:#d4d4d4; }  /* rule 20170902°0742 */

/* LightSalmon (rule 20170902o0131) */
div.BodyPanelMoonwalk { background-color:#ffd4f4; padding-bottom:0.7em; }

/* (rule 20170902o0211) after 20170902°0141 FontTypewrite */
p.BodyPanelParaWelcome { color:Green; padding-left:2.7em; }

/* (rule 20170902°0754) */
div.ChapterFaceMoonshadow { margin:0 auto; max-width:780px; width:84%;
                             background-color:#e0e0e0; /* #e0e0e0 #ebebeb */
                              padding:0.9em;
                               margin-top:0.9em; margin-bottom:1.1em;
                              }

h1 { color:Green; }                                                    /* rule 20160516°0133 */

/* This is about ... */
div.BreadcrumbsOldStaticHtml { border:2px solid Turquoise; }           /* rule 20160617°0111 */
div.BreadcrumbsOldPhpBlock { border:2px solid Tomato; }                /* rule 20160617°0121 */

/* This is about ... */
div.DaftariMainMenuIcon_id20120827o0314 { border:2px solid LightGray; } /* rule 20160617°0131`21 */
span.DaftariMainMenuIcon_id20120827o0314 { border:2px solid LightGray; } /* rule 20160617°0131`22 */
div.DaftariMainMenuIcon_20120827o0314 { border:2px solid LightGray; } /* rule 20160617°0131`23 */
span.DaftariMainMenuIcon_20120827o0314 { border:2px solid LightGray; } /* rule 20160617°0131`24 */

.BackgroundRoseCode { background-color:#fff0f0; }                      /* rule 20170902°1221 the one used for code monospace */
.BackgroundRoseLight { background-color:#fff6f6; }                     /* rule 20170902°1222 the lightest rose */

/* rule set 20170902°1031 */
/* usage : So far only in page 20120901°2001 /manual/moon/lingos43.html */
p.CollectionItemPhrase { } /* rule 20170902°1032 */
p.CollectionItemTitle { color:#0000f0; font-size:1.20em; margin-bottom:0.2em; margin-top:0.2em; } /* rule 20170902°1033 (after rule 20080711°0523 'toptitlecrumbs') */
span.LabelCollectionPhrases { color:green; font-size:small; }          /* rule 20170902°1034 */

/* eof */
