﻿/**
 *  file : 20230612°1211
 *  version : 20230612°1211
 *  summary : Styles for boxes
 */

/**
 * Content:
 * • BoxForClassbook         — Smallprint, LightGreen dotted
 * • BoxForExplanation       — LightBlue dotted
 * • BoxForNoticeRedDotted   — For important notes, e.g. of legal kind
 * • BoxForSchedule          — Smallprint lightblue dotted — ELIMINATE
 * •
 * •
 */

/**
 *  ruleset 20210816°1511
 *  summary : Smallprint, LightGreen dotted
 *  chain : This is pretty the same as rule 20221203°1721 BoxForPlanForToday,
 *           except here we fill in paragraphs, there we fill in a list.
 *  usage : Many
 */
div.BoxForClassbookEntry {
   display:inline-block; clear:both;
   margin-top:3.1em;                                           /* For the outstanding first paragraph */
   color:LightSeaGreen; font-size:small;
   border:1px dotted LightSeaGreen; border-radius:0.7em;
   padding:0 1.1em 0 1.1em;
   line-height:1.5em;
}
div.BoxForClassbookEntry > :nth-child(1) { position:relative; top:-2.4em; color:LightSeaGreen; }  /* RoyalBlue */ /* The outstanding first paragraph */
div.BoxForClassbookEntry > :nth-child(2) { margin-top:-1.7em; }                  /* Compensate for outstanding first paragraph */
div.BoxForClassbookEntry p { margin: 0.3em 0 0.3em 0; }


/**
 *  rule 20230115°1411
 *  summary : LightBlue dotted
 *  usage :
 */
div.BoxForExplanation {
   border:2px dotted LightSkyBlue; border-radius:0.7em;
   padding-left:0.7em; margin-top:2.7em;
}


/**
 *  rule 20230612°1221
 *  summary : For important notes, e.g. of legal kind
 *  usage : In protocol intros
 */
p.BoxForNoticeRedDotted {
   border:3px dotted Red; text-align:center;
   border-radius:0.7em; padding:1.1em 1.7em 1.1em 1.7em;
}


/**
 *  rule 20221203°1721
 *  summary : Box for 'plan for today' — Small-font-size, LightSkyBlue-dotted border
 *  chain : This is pretty the same as rule 20210816°1511 BoxForClassbookEntry,
 *           except here we fill in list items, there we fill in paragraphs.
 *  usage : Prototype page 20230626°0621
 */
/*
div.BoxForPlanForToday {
   font-size: small; line-height:1.1em;
   border: 2px dotted LightSkyBlue; border-radius: 0.7em;
   padding-left: 0.7em; margin-top: 2.7em;
}
*/
div.BoxForPlanForToday {
   display:inline-block; clear:both;
   margin-top:3.1em;                                     /* For the outstanding first paragraph */
   color:RoyalBlue; font-size:small;
   border:1px dotted RoyalBlue; border-radius:0.7em;
   padding:0 1.1em 0 1.1em;
   line-height:1.5em;
}
div.BoxForPlanForToday > :nth-child(1) { position:relative; top:-3.1em; color:RoyalBlue; }  /* RoyalBlue */ /* The outstanding first paragraph */
div.BoxForPlanForToday > :nth-child(2) { margin-top:-3.1em; }                  /* Compensate for outstanding first paragraph */


/**
 *  ruleset 20230502°0933
 *  summary: Box for preformatted writing
 *  usage : Prototype page 20230522°0621
 */
pre.BoxForPreLightMedium { line-height:1.4em; border:2px dotted LightGreen; border-radius:0.7em; font-size:0.9em; clear:both; }
pre.BoxForPreLightSmall { line-height:1.4em; border:2px dotted LightGreen; border-radius:0.7em; font-size:0.9em; clear:both; }


/**
 *  ruleset 20210920°1731
 *  summary : Smallprint lightblue dotted
 *  usage : About 10 pages
 *  status : Eliminate this from here, possibly leave as local styles in the pages [todo 20230612°1221]
 */
div.BoxForSchedule { color:RoyalBlue;
                     font-size:small; line-height:1.4em;
                     border:1px solid LightSlateGray;
                     border-radius:0.7em; padding-left:1.1em;
                     margin-top:2.7em;
                   }
div.BoxForSchedule div:first-of-type { position:relative; top:-1.2em; left:-0.7em;
                                        border:1px solid Transparent;
                                        line-height:0;
                                      }


/* eof */
