/**
 * id          : file 20230220°0907 navibars.css
 * summary     : Navigation bar(s) based on list elements
 * license     : MIT License
 * copyright   : © 2023 - 2023 Norbert C. Maier
 * authors     : ncm
 * status      : First humble implementation for archives area
 * todo        : Possibly merge to styleslocal.css
 * encoding    : UTF-8-without-BOM
 */

/**
 * ruleset 20230220°0911 'local navi'
 * summary :
 */
div.Local123Navi { }
div.Local123Navi ul {
   padding-left:0;                                     /* Overwrite default style sheet 40 px */
   display:table-cell;                                 /* Hm .. possibly find some alternative */
   line-height:0.9em;
   background-color:Gold;                              /* Chartreuse; */
   border-radius:0.4em;
   list-style-type:none;                               /* */
}
div.Local123Navi li { float:left; padding:0 0.4em 0 0.4em; }

div.Local123Navi li:first-of-type:after { font-size:large; content: "\00a0\00a0→"; }

div.Local123Navi .LocalSelf { font-weight:bold; text-decoration:none; pointer-events:none; cursor:default; }

div.Local123Navi .LocalDummy { text-decoration:none; pointer-events:none; cursor:default; color:LightGray; }

div.Local123Navi .FontCode { background-color:Gold; font-family:Monospace monospace; color:Gray; } /* Overwrite the original color rose */

/* eof */
