﻿/*
 * file : https://downtown.trilo.de/svn/daftaridev/trunk/daftari/css/pagematrix.css
 * id : 20180503°2111
 * summary : Rules to create a right side vertical page matrix bar
 * license : The MIT/X11 License
 * copyright : © 2018 - 2023 Norbert C. Maier
 * authors : ncm
 * encoding : UTF-8-with-BOM
 * usage : E.g. in https://www.trekta.biz/svn/demomatrix/trunk/pages/index.html
 * note :
 */

/**
   ruleset 20150221°0321
   summary : The link types in the vertical matrix bar for e.g. DemoMatrix
 */
a.MatrixLinkActivePg   { } /* active page — rule 20150221°0322 */
a.MatrixLinkActiveSq   { font-style:italic; } /* active sequence — rule 20150221°0323 */
a.MatrixLinkEmptyPage  { cursor:default; color:gray; } /* rule 20171221°1011 */
a.MatrixLinkNever      { pointer-events:none; cursor:default; text-decoration:none; color:#eaeaea; } /* rule 20150221°0324 */
a.MatrixLinkPendingPg  { pointer-events:none; cursor:default; text-decoration:none; color:Gray; } /* rule 20150221°0325 */
a.MatrixLinkPendingSq  { pointer-events:none; cursor:default; text-decoration:none; color:Gray; font-style:italic; } /* rule 20150221°0326 */
a.MatrixLinkSelfPage   { pointer-events:none; cursor:default; text-decoration:none; color:Red; font-weight:bold; } /* rule 20150221°0327 (ref 20150223°1321) */
a.MatrixLinkUndefined  { pointer-events:none; cursor:default; text-decoration:none; color:LightGray; } /* rule 20150221°0328 (ref 20150223°1321) */

/**
 * ruleset 20150217°1331
 * title : Vertical matrix bar
 * summary : This paragraph appears vertical on the right side of the page  (feature 20150221°0611)
 * ref : About the opacity in IE8, see [ws 20150223°2011] http://stackoverflow.com/questions/1948176/opacity-css-not-working-in-ie8
 * note : For IE8 opacity is '-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";', for others exist other expressions
 * note : About the z-index, remember the matrix bar will sometimes overlap with the Daftari main menu icon, which shall be on top then.
 */
p.MatrixPoleRight { position:absolute; top:7.7em; right:0.9em; width:3.9em;
                    font-size:88%; line-height:1.5em; text-align:center;
                    background-color:transparent; opacity:0.77; padding-right:0.4em;
                    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
                    z-index:1; font-weight:bold; border:1px solid lightgray;
                  } /* rule 20150217°1332 */
p.MatrixPoleRight::first-line { color:Green; font-size:small; } /* rule 20150217°1333 */

/* eof */
