﻿/**
 *  file : 20210816°1521
 *  version : 20220315°1711 .. 20210816°1522
 *  summary : Styles for course scripts
 */

h2, h3, h4, h5, h6 { text-align:left; } /* rule 20220315°1713 */                /* from pages */

/* rule 20230731°0813 */
article.BoxForAppendix { border:2px dotted LightGray; border-radius:0.7em; padding-left:0.7em; margin:0.7rem 0 0.7rem 0; }

/* rule 20210626°0921 */
div.BoxForOneDay { }

/* ruleset 20211106°1041 */
div.BoxForContent { border:1px solid LightSlateGray;
                     border-radius:0.7em; padding-left:1.1em;
                     margin-top:2.7em;
                   }
div.BoxForContent div:first-of-type { position:relative; top:-1.2em; left:-0.7em;
                                        line-height:0;
                                      }


/* ruleset 20210626°0921 (formerly AgendaKlassenbuch) */
div.BoxForPrpslClsbk { font-size:small; line-height:1.1em; color:Gray;
                       border:1px solid LightGray; border-radius:0.7em;
                     }
div.BoxForPrpslClsbk div:first-of-type { position:relative; top:-1.2em; left:-0.7em;
                                   border:1px solid Transparent;
                                   line-height:0;
                                   padding-left:1.4em;
                                 }
ul.BoxForPrpslClsbk { }


/* ruleset 20210816°1531 */ /* formerly 'AgendaGliederung' */
div.BoxForOutline { display:inline-block; color:DarkGreen;
                        border:1px solid DarkGreen; border-radius:0.7em;
                        padding:0 1.1em 0.4em 1.1em; margin-top:2.1em;
                      }
div.BoxForOutline div:first-of-type { position:relative; top:-1.0em; left:-0.7em;
                                          border:1px solid Transparent;
                                          font-size:small; line-height:0;
                                        }
div.BoxForOutline p { line-height:1.1em; }
ul.BoxForOutline { }
p.BoxOutline_Caption { font-weight:bold; }
.BoxOutline_Supplement { font-style:italic; }


div.BoxForMaterial { border:3px dotted Pink; border-radius:0.7em; padding-left:0.7em; margin-top:2.7em; } /* rule 20220502°1711 */

div.BoxForHandout { border:2px solid Lime; border-radius:0.7em; padding-left:0.7em; margin-top:2.7em; } /* rule 20230104°1021 */

div.BoxForExercise { border:3px dashed Lime; border-radius:0.7em; padding-left:0.7em; margin-top:2.7em; } /* rule 20220502°1712 */
span.ExerciseSolution { font-size:x-small; color:LightGray; /* display:none; */ } /* rule 20230104°1011 */
span.ExerciseSolution a { color:LightGray; background-image:./imgs/20141115o173102.extern_light.png;} /* rule 20230104°1012 */

div.BoxForDailyPlan { border:3px dashed Aquamarine; border-radius:0.7em; padding-left:0.7em; margin-top:2.7em; } /* rule 20220502°1713 */

div.Lines09Tight { line-height:0.9em; } /* rule 20230217°1641 */

.DaySeparator { text-align:right; font-weight:normal; font-family:monospace; font-size:x-large; /* margin:-0.4em 0 -0.4em 0; */ color:Magenta; } /* ruleset 20221109°1221 */
.DaySeparator::before { content:"————————— "; } 
.DaySeparator::after { content:" —————————"; }

p.SeparatorImage { margin-top:2.7em; } /* rule 20220719°1641 ELIMINATE, is replaced by ChapterSeparatorPara? */
img.ImageWithFrame { border:2px solid LightGray; border-radius:0.7em; padding: 0.4em 0.4em 0.4em 0.4em; } /* rule 20220721°1711 */


div.BoxForYellow11Notes { display:flex; flex-wrap:wrap; border:1px solid Gray; border-radius:0.7em; } /* ruleset 20230305°1611 Experimental*/
div.BoxForYellow11Notes p {
    padding:0 0.2em 0 0.4em; max-width:17.1em; margin:0.1em 0.4em 0.1em 0.4em; border:1px solid Gray; border-radius:0.4em; background-color:#ffff70; /* LemonChiffon */
}


/* ruleset 20210827°1611 */
.TopicAdditional { font-style:italic; color:Gray; }
.TopicSkipped { font-size:small; color:LightCoral; text-decoration:line-through; } /* Red */
.TopicUnrecorded { font-size:small; color:LightGray; text-decoration:line-through; }
.TopicUnrecorded a { color:LightGray; }

 /* ruleset 20220717°1121 */
.LinkDayDone { padding:0 0.4em 0 0.4em; float:right; color:Orange; font-size:small; text-indent:0;  font-weight:normal; } /* rule 20211211°0913 */
.LinkDayPlan { padding:0 0.4em 0 0.4em; float:right; color:#c8c8c8; font-size:small; text-indent:0; pointer-events:none; cursor:default; text-decoration:none; font-weight:normal; } /* rule 20211211°0914 */

 /* rule 20220502°1717 */
.CrsDateTime { font-style:italic; color:Gray; padding-right:0.4em; font-size:0.87em; }


/**
 *  ruleset 20230612°1231
 *  summary : Flag paragraph with some UTF-8-character, e.g. '<span>🎌</span>',
 *              '<span style="font-style:italic;">&nbsp;❗&nbsp;</span>', '<span>❓</span>'
 *  usage : Prototype page 20230522°0621
 */
p.FlagForInspection { padding-left: 64px; text-indent: -64px; min-height:64px; }  /* rule 20230524°1633 */
p.FlagForInspection span:first-of-type { font-size:2.7em; position:relative; top:0.5em; left:-0.2em; }  /* rule 20230524°163302 */

/* eof */
