﻿/**
 * chg 20210406°1110 Shifted file to dedicated project
 *  http://www.trekta.biz/svn/demoshtml/trunk/yellow-centered-para
 */

/**
 * file : /daftari/css/yellowcenteredbox.css
 * id : 20180621°0111
 * version : 20181116°0252
 * summary : Rules to create a centered yellow box
 * license : The MIT/X11 License
 * copyright : © 2018 - 2023 Norbert C. Maier
 * authors : ncm
 * encoding : UTF-8-with-BOM
 * usage : E.g.
 *    • page 20110717°1631 http://downtown.trilo.de/demos.html
 * note :
 */

/**
 * session 20180620°0731 'centered-alert-box'
 * title : About a Centered Alert Box with CSS
 * summary : We want achieve some alert text box with the following properties:
 *    • The width of the box shall be automatically as small as possible
 *    • The box shall be centered on the page
 *    • The box shall join into the vertical element flow, and not use absolute position
 * chain : The rule sets so far
 *    • 20180620°0736 'Centered Alert Box 5 with 50-percent overflow hidden'
 *    • 20180620°0735 'Centered Alert Box 4 with 50-percent-trick'
 *    • 20180620°0734 'Centered Alert Box 3 with table'
 *    • 20180620°0733 'Centered Alert Box 2 with span in para'
 *    • 20180620°0732 'Centered Alert Box 1 with just one para'
 *  note : There are many solutions, but most suffice only partially, and show
 *     drawbacks e.g. when narrowing the page. It is very hard to get all
 *     wanted properties done without any negative side effects.
 *  chain : Websearch 20180620°1111 'center html element'
 */


/**
 * ruleset 20180620°0736 'Centered Alert Box 5 with 50-percent overflow hidden'
 * summary : Try number 5 -- Use the 50-percent-trick plus a fix with one
 *    more div. This solution may suffice most of the wanted properties.
 * see : note 20180620°0731 'centered-alert-box'
 * results :
 *  - pro : Works almost as wanted
 *  - con : On narrowing, after the linebreak happens, the box is wider than necessary. This
 *          is the issue to fight next. It seems impossible, but I have no idea how to.
 * note : Use this rule as the best result so far
 */
div.YellowCentered5Box {
               overflow: hidden; /* this eliminates the horizontal scrollbar caused by the plain div */
}
div.YellowCentered5Box div {
               position:relative;
                left:50%;
                 padding:0.3em;
}
div.YellowCentered5Box div p {
               display:table-cell;
                position:relative;
                 left:-50%;
                  padding:0.3em;
                   border:2px solid red;
                    background-color:yellow;
                     text-align:center;
}

/*
   ruleset 20180620°0735 'Centered Alert Box 4 with 50-percent-trick'
   summary : Try number 4 -- Use the 50-percent-trick.
   ref : 20180620°1114 https://coderwall.com/p/quutdq/how-to-really-center-an-html-element-via-css-position-absolute-fixed
   see : note 20180620°0731 'centered-alert-box'
   results :
    - pro : It behaves as wanted
    - con : The box will only grow to half page width
    - con : Unwanted horizontal scrollbar because 50 percent overflow on right side
    - con : Padding the span does interferre with div padding, better use only one of the two
   note : This rule is demonstrated on page 19970614.2200 ./man-vvp-data-readers.html
 */
div.YellowCentered4Box {
               position:relative;
                left:50%;
                 padding:0.3em;
                  width:49%;           /* fight unwanted horizontal scroll bar */
}
div.YellowCentered4Box p {
               position:relative;
                left:-50%;
                 display:table-cell;
                  padding:0.3em;
                   border:2px solid magenta;
                    background-color:khaki;
                     text-align:center;
}

/*
   ruleset 20180620°0734 'Centered Alert Box 3 with table'
   summary : Try number 3 -- Use a table
   see : note 20180620°0731 'centered-alert-box'
   note : The results are
    - pro : It works fine, with little drawbacks
    - con : With line break, the box is wider as necessary
    - con : The table needs the additionial attribute align="center"
    - con : Using a table is the most cumbersome coding
   note : This rule is demonstrated on page 19970614.1225 ./man-vvp-data-depots.html
*/
table.YellowCentered3Box {
               border-collapse:separate;
                border-spacing:0.3em;
                 border:2px solid transparent;
}
table.YellowCentered3Box td {
               background-color:khaki;
                border:2px solid turquoise;
                 padding:0.3em;
                  text-align:center;
}

/*
   ruleset 20180620°0733 'Centered Alert Box 2 with span in para'
   summary : Try number 2 -- Use a span as the centered inner part of the para.
   see : note 20180620°0731 'centered-alert-box'
   results :
    - pro : Works fine as long as no linebreak occurres
    - con : Using a span is bad with linebreak, broken line will overlap vertically
   note : This rule is demonstrated on page 19970614°1224 ./man-vvp-data-articles.html
*/
p.YellowCentered2Box {
               font-family:monospace,monospace;
                text-align:center;
                 padding:0.4em 0 0 0;
}
p.YellowCentered2Box span {
                border:2px solid green;
                 background-color:khaki;
}

/*
   ruleset 20180620°0732 'Centered Alert Box 1 with just one para'
   summary : First try -- Use a para with the much recommended margin:auto.
      But this works only with a given width, and we want the width.
   see : note 20180620°0731 'centered-alert-box'
   results : It is applicable, except the approximated width is a bit annoying.
    - pro : Simple
    - con : Does not work as expected
   note : This rule is demonstrated e.g. on page 19970614°2212 ./man-vvp-data-adr.html
   ʘ
*/
p.YellowCentered1Box {
               font-family:monospace,monospace;
                text-align:center;
                 padding:0.2em;
                  border:2px solid blue;
                   background-color:khaki;
                    width:66%; /* without width, margin:auto will not work */
                     margin-top:0.2em;
                      margin-left:auto;
                       margin-right:auto;
}

/* eof */
